<!DOCTYPE HTML>
<html> 
<body>

<title> SHOW CSV VIDEO ID </title>
<div class="container">
  <div class="row">
    <div class="span4">
      <h1>Output</h1>
      <div class="well">


        <p> SUCCESS </p>
        <%= button_to 'Back',:action => 'input' %>


      </div> 
    </div> 
  </div> 
</div> 


</body>
</html>